html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  min-height: 100%;
  padding-top: 70px;
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  padding-top: 20px;
  text-align: center;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.select_custom_name select{
  outline: none;
  border:none;
}

.container {
  width: 80%;
}

.form_scripts_custom_name .form-group {
  /*padding-left: -15px;*/
}

.modal-body {
  margin-right: 5px;
  margin-left: 5px;
}

.form-control{
  padding-left: 8px;
}

.clear-padding-row{
  padding-left: 2px;
  padding-right: 2px;
}

.modal-dialog{
  width: 680px;
}
element.style {
  width: 680px;
}