/* bootstrap-table custom CSS */
/* 表格边框线设置 */
table, thead, th, td {
  border-top-color: #222d32;
  border-top-style: solid;
  border-top-width: 1px;
  border-right-color: #222d32;
  border-right-style: solid;
  border-right-width: 1px;
  border-bottom-color: #222d32;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-color: #222d32;
  border-left-style: solid;
  border-left-width: 1px;
}
thead{
  border-bottom-color: #222d32;
  border-bottom-style: solid;
  border-bottom-width: 2px;
}
/* 表格上下左右边距设置 */
#bootstrap_table_padding_left {
  padding-top: 5px;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}
div.bootstrap-table > div.fixed-table-toolbar {
  padding-top: 0;
  padding-bottom: 5px;
}

/********模态框********/
/* 模态框 */
.modal-body {
  margin-right: 20px;
  margin-left: 20px;
}
.modal-dialog{
  /*width: 920px;*/
}
/* 模态框中的表单*/
.set_padding_custom{
  padding-left: 5px;
}
/* 模态框中自定义类名称*/
.clear_padding_row{
  padding-left: 2px;
  padding-right: 2px;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
  padding-right: 5px;
  padding-left: 5px;
}


