.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

# 忽略重要的配置文件和大文件命令
kubectl
*.kubeconfig
helm
rancher
rancher-compose
yq
