<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
  <!-- Bootstrap -->
  <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css', _external=True) }}" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link type="text/css" href="{{ url_for('static', filename='css/signin.css') }}" rel="stylesheet">

  <!--{% assets "main_css" %}-->
  <!--<link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">-->
  <!--{% endassets %}-->

  <title>SWAMP_LOGIN</title>
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body>

<div class="container-fluid">
  <!-- flash消息 -->
  {% for message in get_flashed_messages() %}
  <div class="alert alert-warning">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ message }}
  </div>
  {% endfor %}
  <!-- //flash消息 -->

  <div class="container">
    <form class="form-horizontal form-signin" role="form" method="post">
      <h3 class="form-signin-heading col-md-offset-2">Please sign in</h3>
      &nbsp;
      <div class="form-group">
        <label  class="col-md-2 control-label">{{ form.username.label.text }}</label>
        <div class="col-md-6">
          {{ form.username }}
        </div>
        <div class="col-md-4">
          <ul class="text-danger">
            {% for err in form.username.errors %}
            <li>{{ err }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-2 control-label">{{ form.password.label.text }}</label>
        <div class="col-md-6">
          {{ form.password }}
        </div>
        <div class="col-md-4">
          <ul class="text-danger">
            {% for err in form.password.errors %}
            <li>{{ err }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-offset-2 col-md-6">
          {{ form.csrf_token }}
          {{ form.submit }}
          <a href="{{ url_for('regist') }}"><button class="btn btn-default" type="button">Sign up</button></a>
        </div>
      </div>
    </form>
  </div> <!-- /container -->


</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!-- <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script> -->
<!--<script src="{{ url_for('static', filename='js/jquery.min.js', _external=True) }}"></script>-->
<!-- Include all compiled plugins (below), or include individual files as needed -->
<!--<script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js', _external=True) }}"></script>-->

{% assets "main_js" %}
<script src="{{ ASSET_URL }}"></script>
{% endassets %}

</body>
</html>